<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="/css/admin.css">   
</head>
<body>
        <div class="sidebar">
        <h2>Admin Panel</h2>
        <ul class="nav-links">
            <li><a href="/users-management">👥 Quản lý người dùng</a></li>
            <li><a href="/cai-dat">⚙️ Cài đặt hệ thống</a></li>
            <li><a href="/login">🚪 Đăng xuất</a></li>
        </ul>
    </div>
<%- include(content) %>
</body>
</html>